<div class="container mt-5">
  <div class="row">
    <div class="col text-center">
      <img src="img/people.jpg" alt="Anggara Putra" class="img-thumbnail rounded-circle" width="200" />
      <h1 class="diplay-4">People</h1>
      <p class="lead">Lorem | Ipsum</p>
    </div>
  </div>
</div>
